<div class="main-wrapper" style="margin-top: 10%; background: rgba(190, 1, 1, 0.473) !important;">
    <section class="about-area pt-10 pb-10" style="background: rgba(231, 2, 2, 0.603) !important;">
    
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-3 col-md-1 col-sm-1 about-right" style="margin: 0 auto;">
              <i class="fa fa-times-circle" style="font-size: 72px; margin: 0 auto;color:white;align-content: center"></i>
              <h1 class="text-uppercase">
    
                  <span>Error 404</span> <br>
                <b style="color:white;"> Page Not Found </b>
                </h1>
              </div>
        </div>
      </div>
    </section>
    </div>