<div class="col-md-9 foot" style="border-top: 4px solid palevioletred;">
  <section class="footer-area pb-10 endNote" style="padding-top: 5px; ">

    <div class="container">
      <footer>
        <div class="footer-social">
          <a href="https://github.com/jatinAroraGit">
            <i class="fa fa-github" style="font-size:44px; color:rgb(149, 101, 177)"></i>
          </a>
          <a href="mailto:jaarora45@gmail.com">
            <i class="fa fa-envelope" style="font-size:44px; color:lightcoral"></i>
          </a>
          <a href="https://www.linkedin.com/in/jatin-arora-426963149/">
            <i class="fa fa-linkedin" style="font-size:44px; color:lightblue"></i>
          </a>
      
        </div>
        <div class="footer-content">
          <div class="text-center" style="color:white;">
            Made by Jatn Arora. 
            <br>To know what went into making this website go to About section of the website.
          </div>
        </div>
      </footer>
    </div>
  </section>
</div>