<div class="main-wrapper" style="margin-top: 10%; background: rgba(190, 1, 1, 0.473) !important;">
    <section class="about-area pt-10 pb-10" style="background: rgba(231, 2, 2, 0.603) !important;">
    
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-4 col-md-2 col-sm-2 about-right" style="margin: 0 auto;">
              <h1 class="text-uppercase">
    
                 
                
              <span>Built Using :</span> <br>
              </h1>
              <i class="fa fa-angular" style="font-size: 22px; margin: 0 auto;color:white;">Angular 5</i><br>
              <i class="fa fa-js-square" style="font-size: 22px; margin: 0 auto;color:white;">JavaScript ES6</i><br>
              <i class="fa fa-js" style="font-size: 22px; margin: 0 auto;color:white;">HTML5 and CSS</i>
              <h1 class="text-uppercase">
    
                 
                </h1>
              </div>
        </div>
      </div>
    </section>
    </div>