<div class="col-md-6 pull-right" id="navigate">
  <nav  class="navbar fixed-top  navbarNew">
      <a href="#" class="pull-left"><img src="https://image.ibb.co/czyRbT/navbar_Logo.png" height="52px" width="57px"></a> 
     
        <button class="btn btn-primary" routerLinkActive="active"><i class="fa fa-home mr-1" style="color: white; font-size: 20px"></i>
           <a routerLink="/home">Home</a></button>
     

            <button class="btn btn-primary" routerLinkActive="active"><i class="fa fa-file-text mr-1" style="color: white; font-size: 20px"></i>
        <a routerLink="/resume"> Resume</a></button>
      

      
      <button class="btn btn-primary" routerLinkActive="active"><i class="fa fa-file-code-o mr-1" style="color: white; font-size: 20px"></i>
        <a routerLink="/projects">Projects</a> </button>
    
         <button class="btn btn-primary" routerLinkActive="active"><i class="fa fa-info-circle mr-1" style="color: white; font-size: 20px"></i>
         <a routerLink="/about">About</a></button>
    
    </nav>
  </div>